# Server Configuration
PORT=3000
NODE_ENV=development
WEBSITE_URL=http://localhost:3000

# Database
DATABASE_URL=./database.db

# Security
JWT_SECRET=958d41c19f7a177f2d766ca1d331ccdc8d002dcba3cf4a810c7242ce85f403be
ADMIN_EMAIL= takwi_smokerz2056@gmail.com
   ADMIN_PASSWORD="G7@vQ2#xL9!mR4$zT8&pK6"

# Email Service (SendGrid)
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SENDER_EMAIL=noreply@smokeyz-bbq.com

# Payment Methods
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PAYPAL_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Business Information
BUSINESS_NAME=Smokeyz BBQ
BUSINESS_EMAIL=smokersandgrillsb@gmail.com
BUSINESS_PHONE=+1 (917) 543-0678
BUSINESS_ADDRESS=2008 N Avenue H, Freeport, TX 77541

# Admin Settings
ADMIN_PATH=/admin-portal
